<ion-view view-title="Results">
    <ion-content ng-class="{'has-footer' : platform != 'android'}">
        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col-40 no-wrap">
                        <h2>Rafael Pol</h2>
                    </div>
                    <div class="col-25 no-wrap">
                        <small class="light-grey">8:00PM</small>
                    </div>
                    <div class="col-33 no-wrap">
                        Basketball dsfsf sdgdf
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col-40">
                        <h2>Mingo Tyrel</h2>
                    </div>
                    <div class="col-25">
                        <small class="light-grey">8:11PM</small>
                    </div>
                    <div class="col-33">
                        Golf
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>