<ion-view view-title="Results">
    <ion-content class="padding" ng-class="{'has-footer' : platform != 'android'}">
        <div class="card">
            <div class="item item-text-wrap">
                "Great Hotel! Nice beds."
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                "Awesome stay! Excellent Service, friendly staff."
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                "Satisfied"
            </div>
        </div>
    </ion-content>
</ion-view>