<ion-nav-view>
    <ion-view>
        <div class="bar bar-header">
            <a class="button button-icon calm ion-home" href="#/app/home" nav-direction="forward"></a>
        </div>
        <ion-content class="padding has-header" overflow-scroll="true">
            <img class="logo-login center-image" src="img/blueOnWhiteLogo.png">
            <div class="footer">
                <div class="card list list-inset">
                    <label class="item item-input">
                        <input type="email" placeholder="email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="password" ng-model="user.password">
                    </label>
                </div>
                <div class="padding">
                    <button class="button button-block button-calm" ng-click="login()">
                        Login
                    </button>
                    <a class="button button-block button-clear button-dark " href="#/signup">Signup</a>
                </div>
            </div>
        </ion-content>
    </ion-view>
</ion-nav-view>