<div class="list card loop-cards">
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/chem.jpg">

        <div class="left-text-content">
            <h2>Chem 101</h2>

            <p class="description-content">Loop for all students in CH 101 Section 002</p>
        </div>
        <div class="person-count-stats text-center">
            <button class="button button-medium button-clear">
                <i class="fa fa-user fa-lg calm"></i>
            </button>
            <p>42</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Football crew</h2>

            <p class="description-content">Place to record your attendance for Tu/Th football </p>
        </div>
        <div class="person-count-stats text-center">
            <button class="button button-medium button-clear">
                <i class="fa fa-user fa-lg calm"></i>
            </button>
            <p>14</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/mcdonalds.jpg">

        <div class="left-text-content">
            <h2>McDonalds Free Food </h2>

            <p class="description-content">We are the official McDonalds handle, subscribe to receive surveys
                and you can win free food</p>
        </div>
        <div class="person-count-stats text-center">
            <button class="button button-medium button-clear">
                <i class="fa fa-user fa-lg calm"></i>
            </button>
            <p>42000</p>
        </div>
    </a>
</div>