<div class="list card">
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at
                autem
                eligendi non dsfjlsdjf ldkjffs
                officiis quae quaerat.</p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Surveyfgdg dfg</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at
                autem eligendi non officiis quae quaerat ratione repudiandae suscipit ullam.</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p></p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at
                autem
                eligendi non
                officiis quae quaerat.</p></p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">


        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at
                autem
                eligendi non
                officiis quae quaerat ratione repudiandae suscipit ullam.</p></p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
    <a class="item item-avatar avatar-large" href="#">
        <img src="img/blueOnWhiteLogo.png">

        <div class="left-text-content">
            <h2>Name of the Survey</h2>

            <p>Lorem ipsum dolor sit amet.</p></p>
        </div>
        <div class="item-hour-stats text-center">
            <p><i class="icon ion-android-time"></i><br>6:00PM<br>9/21</p>
        </div>
    </a>
</div>