<ion-view title="Edit Survey">
    <ion-nav-bar class="bar-calm">
        <ion-nav-buttons side="left">
            <button class="button button-clear button-icon ion-android-close" ui-sref="app.mySurveys"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-stable bar-footer big-bar-footer">
        <div class="button-bar">
            <button class="button button-energized" ng-click="addQuestion()">Add Question</button>
            <button class="button button-calm" ng-click="saveSurvey()">Save</button>
        </div>
    </div>
    <ion-content class="padding has-big-bar-footer">
        <survey-edit survey="survey"></survey-edit>
    </ion-content>
</ion-view>