<div class="item">
    <h2 class="form-title require">Name</h2>
    <label class="item item-input">
        <textarea ng-model="surveyInfo.surveyName" rows="2"></textarea>
    </label>

    <h2 class="form-title">Description</h2>
    <label class="item item-input">
        <textarea ng-model="surveyInfo.description" rows="5"></textarea>
    </label>
</div>
<div class="item">
    <h2 class="form-title require">Assignments</h2>

    <div class="list">
        <div class="item item-button-right" ng-repeat="loop in surveyInfo.loopsAssign" ng-if="loop.checked">
            {{loop.name}}
            <button class="button button-assertive button-clear" ng-click="uncheckedLoop($index)">
                <i class="icon ion-ios-minus-outline"></i>
            </button>
        </div>
    </div>
    <button class="button button-clear button-calm pull-right icon-left ion-ios-plus-empty"
            ng-click="openLoopModal()">
        Loop
    </button>
    <div class="clearfix"></div>
    <h2 class="form-title">Profile Attributes</h2>

    <div class="list">
        <div class="item item-button-right" ng-repeat="attribute in surveyInfo.attributesAssign"
             ng-if="attribute.checked">
            {{attribute.name}}
            <label class="toggle">
                <input type="checkbox" ng-model="attribute.required">

                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <button class="button button-assertive pull-right button-clear" ng-click="uncheckedAttribute($index)">
                <i class="icon ion-ios-minus-outline"></i>
            </button>
        </div>
    </div>
    <button class="button button-clear button-calm pull-right icon-left ion-ios-plus-empty"
            ng-click="openAttributesModal()">
        Attribute
    </button>
</div>