$question-animation-time: 850ms;

//================================================================================
// Card Form and misc
//================================================================================

.input-border {
  border: 1px solid #ddd;
  width: 100%;
}

textarea {
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-form {
  margin: 0px 0px 15px 0px;
}

.card-form .item, .card-form:first-child .item, .card-form:last-child .item {
  @extend .input-border;
}

.card-form .list {
  margin-bottom: 10px;
}

.clickable-divider {
  background-color: #f5f5f5;
}

.item .form-title {
  margin-bottom: 10px;
  color: #393939;
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.form-title + .item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.require:after {
  content: "  *";
  font-size: 14px;
}

.item-button-right > .toggle {
  position: absolute;
  right: 60px;
  top: 8px;
}

//================================================================================
// Create Survey Flow
//================================================================================

.question-button-bar {
  margin-top: 20px;
}

@-webkit-keyframes next {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(120%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes back {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(-120%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

#question-content.next {
  -webkit-animation: next ease-out;
  animation: next ease-out;
  -webkit-animation-duration: $question-animation-time;
  animation-duration: $question-animation-time;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#question-content.back {
  -webkit-animation: back ease-out;
  animation: back ease-out;
  -webkit-animation-duration: $question-animation-time;
  animation-duration: $question-animation-time;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

//================================================================================
// Textbox
//================================================================================

.textbox-character-label {
  display: inline-block;
  margin-bottom: 0px;
  line-height: 43px;
}

.textbox-character-input {
  width: 60%;
  position: relative;
  left: 35%
}


//================================================================================
// Review
//================================================================================

.survey-info {
  padding: 0px 0px 10px 0px;
}

.review-item {
  h2 {
    margin-bottom: 15px;
  }
  i {
    position: absolute;
    top: 19px;
    right: 20px;
  }
  div {
    padding-left: 10px;
    h3 {
      margin-top: 10px;
    }
    p {
      padding-left: 10px;
    }
  }
}

.exit-survey-popup .popup {
  width: 80%;
}

.exit-survey-popup .popup-body {
  p {
    text-align: center;
  }
}

.survey-created{
  text-align: center;
  i{
    font-size: 42px;
  }
}