// Fixed ion-content blank space when ios keyboard opens
ion-content {
  height: auto !important;
}

.bar-header, .bar-subheader {
  border: 0px !important;
  border-bottom-color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-size: 100% 0px !important;
}

.bar-footer, .big-bar-footer {
  border-bottom-color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-size: 100% 0px !important;
}

.big-bar-footer {
  height: 52px;
  border: 0px !important;
  .button {
    line-height: 42px !important;
    font-size: 16px;
  }
}

.has-big-bar-footer {
  bottom: 52px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  padding-left: 16px;
}

.bold {
  font-weight: bold;
}

.loading-container .loading {
  padding-top: 10px;
  .spinner {
    position: relative;
    bottom: -7px;
    margin-right: 5px;
  }
}

.energized-background {
  background-color: $energized;
}

.calm-background {
  background-color: $calm;
}

.has-error {
  border-left: 5px solid $energized !important;
}

.has-success {
  border-left: 5px solid $calm !important;
}