<ion-view view-title="Survey Stats">
    <div class="bar bar-subheader bar-stable">
        <button class="button button-clear icon-left ion-funnel icon-small">Filter</button>
        <button class="button button-clear icon-right ion-ios-upload">Export</button>
    </div>
    <ion-content class="padding has-subheader" ng-class="{'has-footer' : platform != 'android'}">
        <div class="card card-form">
            <div class="item item-text-wrap item-icon-right icon-small">
                <i class="icon fa fa-list-ul"></i>
                <h2><span class="circle-number">1</span>What's your favorite sport?</h2>
            </div>
            <div class="item item-text-wrap">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options">
                </canvas>
            </div>
        </div>
        <div class="card card-form">
            <div class="item item-text-wrap item-icon-right icon-small">
                <i class="icon fa fa-list-ol"></i>
                <h2><span class="circle-number">2</span>Rank these sports</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col rank-list">
                        <h2><span>4.5</span> Golf</h2>
                        <h2><span>4.0</span> Pool</h2>
                        <h2><span>3.4</span> Dodgeball</h2>
                    </div>
                    <div class="col rank-list">
                        <h2><span>2.8</span> Cricket</h2>
                        <h2><span>1.2</span> Foosball</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-form">
            <div class="item item-text-wrap item-icon-right icon-small">
                <i class="icon fa fa-paragraph"></i>
                <h2><span class="circle-number">3</span>Who is your favorite athlete?</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col rank-list">
                        <h2><span>3.8k</span> Golf</h2>
                        <h2><span>2.4k</span> Ronaldo</h2>
                        <h2><span>1.5k</span> Manning</h2>
                        <h2><span>980</span> Other</h2>
                    </div>
                    <div class="col rank-list">
                    </div>
                </div>
            </div>
        </div><div class="card card-form">
            <div class="item item-text-wrap item-icon-right icon-small">
                <i class="icon fa fa-sliders"></i>
                <h2><span class="circle-number">4</span>How happy are you?</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="slider-average">
                    <h1>Average <span>3.4</span></h1>
                </div>
                <canvas class="chart chart-bar" chart-data="data2" chart-labels="labels2" chart-series="series2" chart-options="options">
                </canvas>
            </div>
        </div>
    </ion-content>
</ion-view>