.bar-header, .bar-subheader {
  border: 0px !important;
  border-bottom-color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-size: 100% 0px !important;
}

.bar-footer, .big-bar-footer{
  border-bottom-color: transparent !important;
  border-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  background-size: 100% 0px !important;
}

.big-bar-footer {
  height: 52px;
  border: 0px !important;
  .button {
    line-height: 42px !important;
    font-size: 16px;
  }
}

.has-big-bar-footer {
  bottom: 52px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  padding-left: 16px;
}

.bold {
  font-weight: bold;
}